.title {
  text-align: center;
  color: #c5c6c7;
}

.container {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
  width:90%;
  margin-inline: auto;
}
